body {
  max-width: 1000px;
  margin: auto;
  background-color: #dddddd;
  color: #1b1b1b;
  font-family: "Courier New";
  line-height: 1.6;
  font-size: 16px;
  padding: 2rem;
}

@media screen and (min-width: 700px) {
  body {
    padding: 5rem;
    font-size: 18px;
  }
}

h1,
h2,
h3 {
  color: #1b1b1b;
  line-height: 1;
}

p,
li {
  max-width: 70ch;
}

a {
  color: #1b1b1b;
}

a:visited {
  color: #1b1b1b;
}

dt {
  margin-top: 1rem;
}

dd {
  line-height: 1.2;
  margin-top: 0.4rem;
}
